Source: riban-lv2
Maintainer: Brian Walton <brian@riban.co.uk>
Section: misc
Priority: optional
Standards-Version: 4.3.0
Build-Depends: debhelper (>= 12)

Package: riban-lv2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Multimedia plugins
 LV2 plugins provided by riban
