Package: riban-lv2
Version: 1.2.3
Section: sound
Priority: optional
Architecture: arm64
Essential: no
Installed-Size: 212
Maintainer: Brian Walton <brian@riban.co.uk>
Homepage: https://github.com/riban-bw/lv2
Description: LV2 plugins provided by riban
 MultiChord - Trigger chords from single MIDI note
 CC Send - Send MIDI CC from control input values
 Chordulator - Trigger chords from single MIDI note based on other MIDI note
 TonalChord - Trigger chords from single MIDI note based on tonal harmony
